.pokemonPanel {
	height: 200px;
	width: 150px;
	float:left;
	margin-left:15px;
}

.displayImage {
	/*width:auto;*/
	height:75;
}

.pokemonMoves, .pokemonAbility, .pokemonNature {
	font-size: 15px;
	float: left;
	margin: 3px 10px 0 0;
}

.pokemonType {
	margin-right: 10px;
	margin-top:6px;
	border-style: solid;
	border-width: thin;
	border-color: black;
}

.statInputBox {
	height: 30px;
	width: 75px;
	margin-bottom: 5px;
}

.statBox {
	font-size: 16px;
	margin-bottom: 10px;
}

.evSpot {
	height: 30px;
}
/*
.pokemonMoves:hover {
	background-color: #cb4b16;
}*/