.pokemonPanel {
	height: 200px;
	width: 150px;
	float:left;
	margin-left:15px;
}

.displayImage {
	/*width:auto;*/
	height:75;
}



.pokemonMoves, .pokemonAbility {
	/*height:20px; */
	font-size: 15px;
	/*width: auto;*/
	float: left;
	/*background-color: #268bd2;*/
	/*color:#ffffff;*/
	margin: 3px 10px 0 0;

}